<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% extends "base.html" %}


{% block content %}
    <div  class="container">
        <div class="jumbotron">
            <h1>Welcome To SampleBlog</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">

        </div>
    </div>

{% endblock %}

</body>
</html>